& section.hero {
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: center;
  background: transparent;
  border-bottom: 1px solid var(--grey-1);

  & .width.constraint {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  & .preslogan {
    padding: 3.82rem 0 calc(3.09rem - .5em);
    @chassis font-size small;
    text-transform: uppercase;
    color: var(--grey-3);

    & span {
      color: var(--text-color);
    }
  }

  & .slogan {
    margin-bottom: 2.36rem;
    @chassis font-size larger;
    font-weight: bold;
    color: var(--black);

    @chassis vp-width > tiny {
      @chassis font-size largest mult(.8);
    }

    @chassis vp-width > small {
      @chassis font-size largest;
    }
  }

  & .blurb {
    margin-bottom: 2.36rem;
  }

  & .actions {
    display: flex;
    justify-content: center;
    margin-bottom: 3.82rem;
  }
}
