& section.hero {
  height: calc(100vh - var(--header-height));

  & .slogan {
    padding: 6.18rem 0 0;
  }

  & .actions {
    align-self: center;
    max-width: var(--layout-min-width);

    & a {
      flex: 1 0 50%;
      margin: 0;
      padding-right: calc(2 * var(--inline-block-padding-x));
      padding-left: calc(2 * var(--inline-block-padding-x));

      &:first-child {
        margin-right: 1px;
        border-radius: var(--default-border-radius) 0 0 var(--default-border-radius);
      }

      &:last-child {
        margin-left: 1px;
        border-radius: 0 var(--default-border-radius) var(--default-border-radius) 0;
      }
    }
  }

  & .clients {
    @chassis apply inline-block padding;
    background: var(--white);
    border-radius: var(--default-border-radius);
  }

  & .tools {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    & button.continue {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      @chassis font-size larger;

      &:hover {
        background: var(--grey-1);

        & author-icon svg {
          stroke: var(--black);
        }
      }

      &:active {
        background: var(--grey-2);
      }
    }
  }
}
