& section.hero {
  min-height: calc(100vh - var(--header-height));

  & .slogan {
    padding: 6.18rem 0 0;
  }

  & .actions {
    align-self: center;
    max-width: var(--layout-min-width);

    & .button {
      flex: 1 0 50%;
      padding-right: calc(2 * var(--inline-block-padding-x));
      padding-left: calc(2 * var(--inline-block-padding-x));
    }
  }

  & .clients {
    display: none;
    grid-gap: 1.18em;
    justify-content: center;
    padding: 1.18em;
    background: var(--white);
    border-radius: var(--default-border-radius);
    overflow: hidden;

    & .client {
      flex: 0 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: .382;

      & img {
        display: block;
        max-height: 1.18em;
        width: auto;
      }

      &.sencha {
        padding-top: 0;
        padding-bottom: 0;

        & img {
         max-height: 2.36em;
       }
      }
    }

    /* & author-icon {
      width: unset;
      height: unset;

      & svg {
        max-width: 6.18em;
        height: auto;
      }
    } */

    @chassis vp-width > tiny {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @chassis vp-width > small {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  & .tools {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.18em 0;

    & button.continue {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      @chassis font-size larger;

      &:hover {
        background: var(--grey-1);

        & author-icon svg {
          stroke: var(--black);
        }
      }

      &:active {
        background: var(--grey-2);
      }
    }
  }
}
