& section.intro {
  & .width.constraint {
    display: flex;
  }

  & .blurb {
    flex: 1 1 50%;
  }

  & .diagram {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11.8%;
  }
}
