& section.intro {
  & .columns {
    padding: 0;

    @chassis vp-width > small {
      display: flex;
    }
  }

  & .column {
    margin: 0;
    padding: 0;

    &:first-child {
      flex: 1 1 61.8%;
      text-align: left;
      @chassis font-size root;

      @chassis vp-width < medium {
        margin-bottom: 2.36em;

        & .actions .button {
          width: 100%;
        }
      }
    }

    &:last-child {
      flex: 1 1 38.2%;

      @chassis vp-width > small {
        margin-left: 6.18%;
      }
    }
  }

  & .services {
    padding: var(--inline-block-padding-x);
    background: var(--grey-1);
    border-radius: var(--default-border-radius);
    @chassis font-size small;
    font-weight: bold;

    & h3 {
      @chassis font-size large;

      @chassis vp-width > small {
        display: none;
      }
    }
  }

  & ul li {
    display: flex;
    align-items: center;
    @chassis apply inline-block padding-top;
    color: var(--black);
    text-align: left;

    & author-icon {
      flex: 0 0 auto;
      width: 1.618em;
      height: 1.618em;
      margin-right: var(--inline-block-padding-x);
      color: var(--blue);
    }

    &:first-child {
      padding-top: 0;
    }

    @chassis vp-width < medium {
      @chassis font-size root;
    }
  }

  @chassis vp-width < medium {
    & h2 {
      text-align: center;
    }
  }
}
