& section.stats {
  padding: 0;
  background: var(--black);
  color: var(--white);
  text-align: center;

  & > header {
    padding-top: 1.18em;
    padding-bottom: 1.18em;
    border-bottom: 1px solid black;
  }

  & .examples {
    & .example {
      margin: 0;
      padding: 2.36em 1em;
      text-align: center;

      & header {
        margin: 0;
        @chassis font-size small;
        font-weight: 300;
        text-transform: uppercase;
      }

      & figure {
        margin: 0;

        & .highlight {
          padding: .382em 0;
          @chassis font-size largest;
          font-weight: bold;
        }
      }

      & figcaption {
        color: var(--grey-3);
      }

      &:first-child {
        border-left: none;
      }

      @chassis vp-width > small {
        border-left: 1px solid black;
      }
    }

    @chassis vp-width > small {
      & .width.constraint {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
