& section.tech {
  text-align: center;

  & .products {
    grid-template: auto / 1fr;
    grid-gap: var(--inline-block-padding-y);

    & .product {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 6.18em;
      overflow: hidden;
      background: var(--white);
      border: 1px solid var(--grey-1);
      border-radius: var(--default-border-radius);
      transition: all .236s ease;
      cursor: pointer;
      color: var(--grey-3);

      & header {
        position: absolute;
        top: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        opacity: 1;
        transition: all .236s ease;

        & .stats {
          display: flex;
          @chassis font-size small mult(.8);
        }

        & .stat {
          display: flex;
          align-items: center;
          @chassis apply inline-block margin-x;

          & author-icon {
            @chassis apply inline-block margin-x;
          }

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }

        & .title {
          color: var(--grey-6);
          padding: 0 var(--inline-block-padding-x);
        }

        & .placeholder {
          @chassis font-size small mult(.8);
          text-transform: uppercase;
        }
      }

      & .description {
        position: absolute;
        top: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0 var(--inline-block-padding-x);
        @chassis font-size small;
        opacity: 0;
        transition: all .236s ease;
      }

      &:hover {
        box-shadow: .236em .236em var(--default-box-shadow-blur) var(--default-box-shadow-spread) color-mod(black a(11.8%));
        border-color: var(--blue);
        color: var(--blue);

        & header {
          top: -100%;
          opacity: 0;
        }

        & .description {
          top: 0;
          opacity: 1;
          color: var(--blue);
        }
      }
    }

    @chassis vp-width > tiny {
      grid-template-columns: repeat(3, 1fr);
    }

    @chassis vp-width > small {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
