& section.tech {
  text-align: center;

  & .products {
    grid-template: auto / 1fr;
    grid-gap: var(--inline-block-padding-y);

    & .product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @chassis apply inline-block padding;
      background: var(--white);
      border: 1px solid var(--grey-1);
      border-radius: var(--default-border-radius);
      cursor: pointer;
      color: var(--grey-3);
      text-decoration: none;

      & header {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: .618em;

        & .stats {
          display: flex;
          @chassis font-size small;
        }

        & .stat {
          display: flex;
          align-items: center;
          @chassis apply inline-block margin-x;

          & author-icon {
            @chassis apply inline-block margin-x;
          }

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }

        & .title {
          color: var(--black);
          font-weight: bold;
        }

        & .placeholder {
          @chassis font-size small mult(.8);
          text-transform: uppercase;
        }
      }

      & .description {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        @chassis font-size small;
      }

      @chassis vp-width < small {
        &:nth-child(n+7) {
          display: none;
        }
      }

      @chassis vp-width > tiny {
        position: relative;
        height: 6.18em;
        padding: 0;
        overflow: hidden;
        transition: all .236s ease;

        & header {
          position: absolute;
          top: 0;
          height: 100%;
          margin-bottom: 0;
          opacity: 1;
          transition: all .236s ease;

          & .title {
            padding: 0 var(--inline-block-padding-x);
            color: var(--grey-6);
            font-weight: normal;
          }

          & .stats {
            @chassis font-size small mult(.8);
          }
        }

        & .description {
          position: absolute;
          top: 100%;
          height: 100%;
          width: 100%;
          padding: 0 var(--inline-block-padding-x);
          opacity: 0;
          transition: all .236s ease;
        }

        &:hover {
          box-shadow: .236em .236em var(--default-box-shadow-blur) var(--default-box-shadow-spread) color-mod(black a(11.8%));
          border-color: var(--blue);
          color: var(--blue);

          & header {
            top: -100%;
            opacity: 0;
          }

          & .description {
            top: 0;
            opacity: 1;
            color: var(--blue);
          }
        }
      }
    }

    @chassis vp-width > tiny {
      grid-template-columns: repeat(3, 1fr);
    }

    @chassis vp-width > small {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
