& section.tech {
  text-align: center;

  & .products {
    grid-template: auto / 1fr;
    grid-gap: var(--inline-block-padding-y);

    & .product {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 6.18em;
      overflow: hidden;
      background: var(--white);
      border: 1px solid var(--grey-1);
      border-radius: var(--default-border-radius);
      transition: all .236s ease;
      cursor: pointer;
      color: var(--grey-3);

      & .title {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 0 var(--inline-block-padding-x);
        opacity: 1;
        transition: all .236s ease;
      }

      & .description {
        position: absolute;
        top: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0 var(--inline-block-padding-x);
        @chassis font-size small;
        opacity: 0;
        transition: all .236s ease;
      }

      &:hover {
        box-shadow: .236em .236em var(--default-box-shadow-blur) var(--default-box-shadow-spread) color-mod(black a(11.8%));
        border-color: var(--grey-2);
        color: var(--text-color);

        & .title {
          top: -100%;
          opacity: 0;
        }

        & .description {
          top: 0;
          opacity: 1;
        }
      }
    }

    @chassis vp-width > tiny {
      grid-template-columns: repeat(3, 1fr);
    }

    @chassis vp-width > small {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
