& .button-bar {
  & button,
  & .button {
    flex: 1 0 auto;
    margin: 0 1px;
    border-radius: 0;

    &:first-child {
      margin-left: 0;
      border-radius: var(--default-border-radius) 0 0 var(--default-border-radius);
    }

    &:last-child {
      margin-right: 0;
      border-radius: 0 var(--default-border-radius) var(--default-border-radius) 0;
    }
  }
}
