& .butlerlogic.logo {
  font-weight: bold;
  margin-right: var(--inline-block-padding-x);

  & author-icon {
    display: block;
    max-height: 100%;
    width: unset;

    & svg {
      width: auto;
    }
  }

  & a {
    @chassis new anchor;
  }

  & span {
    display: none;
  }
}
