@chassis init;
@chassis include all;
@chassis import animations;

.butlerlogic {
  background: radial-gradient(circle, var(--white) 0%, var(--grey-1) 100%);
  background-position: center;
  background-attachment: fixed;

  & main {
    @chassis import modifiers;
    @chassis import dir(components);
    @chassis import dir(shared);

    & .text-bold {
      font-weight: bold;
    }

    & > section {
      margin: 0;
      padding: 6.18em 0;

      & h2 {
        margin-bottom: .618em;
      }

      @chassis vp-width < medium {
        padding: 3.82em 0;
      }
    }
  }

  &.home {
    @chassis import dir(home);

    @chassis vp-width < 480 {
      & main > header nav a:nth-child(n+3) {
        display: none;
      }
    }
  }

  &.startup {
    @chassis import dir(startup);
  }

  &.enterprise {
    @chassis import dir(enterprise);
  }

  &.privacy,
  &.terms {
    padding: 2.36em 0;
    background: var(--white);

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      color: var(--black);
    }

    & ul {
      list-style: disc;
      @chassis apply inline-block margin-bottom;

      & li {
        @chassis apply inline-block padding-top;

        &:last-child {
          padding-top: 0;
        }
      }
    }
  }
}
