& section.hero {
  padding: 2.36em 0;

  & .actions {
    & button,
    & .button {
      @chassis apply inline-block margin-x;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
