& section.experience {
  padding-top: 1.18em;
  box-shadow: 0 -.9vw 0 0 #7e7e7e;
  background: var(--grey-0);
  border-bottom: 1px solid var(--grey-1);
  @chassis font-size small;

  & h2 {
    margin-bottom: 2.36em;
    text-align: center;
  }

  & .logos {
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
  }

  & .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .618em;
    background: var(--grey-1);
    border-radius: var(--default-border-radius);
    @chassis font-size small mult(.8);
    text-align: center;
    font-weight: bold;

    & author-icon {
      height: 3.82em;
      width: 3.82em;
      @chassis apply inline-block margin-bottom;
    }

    &.oracle {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @chassis vp-width > small {
    & .columns {
      display: flex;
    }
  }

  & .column {
    flex: 1 1 50%;
    margin: 0 3.09%;
  }

  & .quote {
    padding: 1.91em 0;
    @chassis apply inline-block margin-top;
    @chassis font-size large;
    text-align: center;
  }

  & .actions {
    & a {
      @chassis extend anchor {
        @state initial {
          color: var(--white);
        }

        @state hover {
          color: var(--white);
        }
      }
    }
  }

  @chassis vp-width > medium {
    box-shadow: 0 -10px 0 0 #7e7e7e;
  }
}
