& section.solutions {
  background: var(--blue);
  color: var(--white);
  text-align: center;

  & h2 {
    color: var(--white);
  }

  & .product {
    display: flex;
    flex-direction: column;
    @chassis apply inline-block margin-bottom;
    padding: 1em;
    background: color-mod(var(--blue) l(44%));
    border-radius: var(--default-border-radius);

    & .thumbnail {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: calc(var(--inline-block-margin-y) + .618em);
      border-radius: var(--default-border-radius);
      box-shadow: 0 .236em 1em 0 color-mod(black a(11.8%));
      overflow: hidden;

      & img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    & h3 {
      @chassis font-size large;
      color: var(--white);

      @chassis vp-width < medium {
        order: -1;
      }
    }

    & p {
      margin: 0;

      @chassis vp-width > small {
        @chassis font-size small;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    @chassis vp-width > small {
      margin-bottom: 0;
    }
  }

  @chassis vp-width > tiny {
    & .products {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 6.18%;
    }
  }
}
