& section.connect {
  padding: 0;
  background: var(--black);
  color: var(--white);
  text-align: center;

  & h2,
  & h3 {
    color: var(--white);
  }

  & section {
    margin: 0;
    padding: 6.18vh 0;

    &.clients {
      padding-top: 2.36em;
    }

    &.contact {
      padding-bottom: 2.36em;

      & .form {
        @chassis apply inline-block padding;
        background: color-mod(var(--black) l(11.8%));
        border-radius: var(--default-border-radius);
        height: 500px;
      }
    }
  }
}
